/* scaffolding */
/* ----------- */
.autocomplete-header {
  margin: 0 20px 5px 20px !important;
  padding: 3px 0 !important;
  border-bottom: 1px solid #ccc !important;
}

.typeahead,
.tt-query,
.tt-hint , .tt-input{
  width: 100% !important;
  height: 40px;
  border:none;
    padding: 8px 12px;
   font-size: 20px;
   line-height: 24px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  
}
.Typeahead-spinner {
  position: absolute;
 
  right: 7px;
  display: none;
  width: 28px;
  height: 28px;
}
.tt-query {
  
}

.tt-hint {
  color: #999
}

.tt-menu {
  
  max-height: 280px;
  overflow-y: auto;
} 

.tt-menu {
  width: 100%;
  
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);

}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 20px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #DCDCDC;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #cccccc;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}

.twitter-typeahead{
	
	width:100%;
}

