@media only screen and (max-width:1510px){ 
	.withdateRangePicker{font-size: 12px;}
}
@media only screen and (max-width:1450px){ 
	.nav-tabs-custom > .nav-tabs > li > a {padding: 10px 5px;}
	.nav-tabs-custom > .nav-tabs.Overview .pull-right .myDropDn{margin-bottom:5px;}
}
@media only screen and (max-width:1366px){ 
	.adddrop.w-200{width:140px;}
	.nav-tabs-custom{padding:20px;}
	ul.nav-tabs.Overview > li > a {padding: 10px 7px;}
	.shippingRatesTable input[type="text"] {width: 80px;}
}

@media only screen and (max-width:1280px){ 
	.customSelect, .highLight{font-size:12px;}
	.shipmentNav .nav-tabs-custom > .nav-tabs > li > a {font-size: 13px;}
	.gapdashboard{margin:0;}
	.statistics .info-box-content .info-box-number small{font-size:17px;}
	
	.borairCir{width:80px; height:80px;}
	.airCir{width:60px; height:60px;}
	.airCir img{width: 80%; height: 80%;}
	.airShip p.tag{width:100px; font-size: 13px; line-height: 28px;}
	
	.shipmentNav li.pull-right {margin-bottom:10px;}
}
@media only screen and (max-width:1199px) {
	.nav-tabs-custom > .nav-tabs.Overview .pull-right .myDropDn{margin-top:25px;}
	ul.nav-tabs.Overview > li > a {padding: 10px 12px;}
	.shippingRatesTable input[type="text"] {width: 70px;}
}
@media only screen and (max-width:1180px) {
	.nav > li > a {padding: 10px 20px;}
	.statistics .info-box-icon{width: 50px; height: 70px; line-height: 43px;}
	.statistics .info-box-icon img{padding: 10px;}
	.statistics .info-box-content .info-box-number small{font-size:17px;}
	.info-box-number{font-size:15px;}
	
	.adddrop.w-100{width:70px;}
	
	.Cicon{margin-right:2px;}
	.CiconR{margin-left:2px;}
	.btn.btn-sm {margin: 3px 0;}
	
}
@media only screen and (max-width:1161px) {
	.shippingRatesTable input[type="text"] { width: 100%;}
	.midHighphen {float: left; width: 100%; text-align: center; display: block;}
	/*11-05-2018*/
	.actionIcons{ padding:0 0; margin:0 1px;}
}

@media only screen and (max-width:1050px) {
	.currentActive .info-box-icon{padding: 0 10px;}
	ul.airShip li{width:17%;}
	/*03-05-2018*/
	.progressbar li{ margin-bottom:5px;}
	.groupList .grpdiv{ padding:15px 10px;}
	.custumButt{ margin-bottom:5px;}
	.customSelectBlack{ margin-bottom:5px;}
	.shipingCost li{ width:20%;}
	
	
}
@media only screen and (max-width:999px) {
	.nav > li > a {padding: 10px 15px;}	
	.navSearch { width: 230px;}
}
@media only screen and (max-width:991px) {
	.navbar-nav > .user-menu .user-image {margin-top: 0;}
	.navbar-custom-menu .navbar-nav > li > a {padding-top: 28px;}
	.navSearch {width: 200px;}
	
	.main-header .logo{height:70px;}
	.main-sidebar {padding-top: 70px;}
	.main-header .navbar{ min-height: 70px;/* line-height: 55px;*/}
	.main-header .sidebar-toggle { padding: 20px 15px;}
	.logo-lg{background-size: 80px auto;}	
	
	.main-sidebar{width:200px;}
	.main-header .logo{width:200px;}
	.content-wrapper, .main-footer{margin-left: 200px;}
	.main-header .navbar{margin-left: 200px;}
}
@media only screen and (max-width:910px) {
	
	.navSearch{margin-right: 15px;}
	.navSearch .input-group-btn input{padding:6px;}
	.navSearch .input-group-btn button{padding:6px;}
}
@media only screen and (max-width:767px) {
	.skin-black-light .main-header > .logo:hover {background-color: #ffffff;}
	.main-sidebar {
    -webkit-transform: translate(-200px, 0);
    -ms-transform: translate(-200px, 0);
    -o-transform: translate(-200px, 0);
    transform: translate(-200px, 0);}
	
	.content-wrapper, .main-footer{margin-left: 0;}
	.main-header .navbar{margin-left: 0;}
	.main-header .logo {width: 100%;}
	
	.main-header{max-height:140px;}
        .sidebar-mini.sidebar-collapse .affix,.sidebar-mini .affix{ width: 100%; }

}

@media only screen and (max-width:480px) {
	.main-header .sidebar-toggle {padding: 13px 15px;}
	.navbar-nav > .user-menu .user-image{ margin-top:0;}
	.navbar-custom-menu .navbar-nav > li > a {padding-top: 15px;padding-bottom: 6px;line-height: 35px;}
	.main-header .navbar-custom-menu{ border-bottom:1px solid #f1f1f1;}
	.nav > li > a{ padding:10px 25.5px;}
	.skin-black-light .main-header .navbar > .sidebar-toggle{ border-bottom: 1px solid #f1f1f1; border-right: 1px solid #f1f1f1;}
	/*27-04-2018*/
	.shipingCost li { text-align: left; width: 100%; margin-bottom: 12px;}
	/*03-05-2018*/
        .stepBg{ flex-direction: column; }
	.progressbar li{ width:100%; margin-bottom:5px; text-align:center;}
	.progressbar li::after{ transform: rotate(180deg); right: 114px; top: 29px;}
	.list-inline.shipmentDetail > li { padding: 4px 13px;}
	.delevBox{ padding:10px;}

}




